/* 共通項目 */
body {
    margin: 30px;
    color: #283655;
}
input {
    border: 1px solid;
}

.hidden {
    display: none;
}

/* タスク入力フォーム */
.task_form {
    padding: 0px 10px 10px 10px;
    border: 1px solid #4D648D;
}
.task_form form {
    display: grid;
    grid-template-columns: 100px 1fr;
}
.task_form input[type="date"], select {
    width: 150px;
}

/* タスクリスト表示エリア */
.tasklist {
    margin-top: 20px;
}

/* テーブル全体のレイアウト */
#task-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    border: 1px solid black; /* 外枠 */
}

/* ヘッダー(th)とデータセル(td)の枠線と余白 */
#task-table th,
#task-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* 列ごとの幅指定 */
.col-deadline { width: 150px; }
.col-status   { width: 100px; }
.col-action   { width: 50px; }

/* タスク更新ダイアログ */
#updateDialog {
    display: none;
    background-color: #FFFFFF;
    border: 2px double;
    width: 500px;
    position: fixed;
    top: 120px;
    z-index: 9999;
}