<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タスク管理アプリケーション</title>
    <link th:href="@{/home.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script th:src="@{/home.js}" defer></script>
</head>
<body>
<h1>タスク管理アプリケーション</h1>

<div class="task_form">
    <h2>タスクの登録</h2>
    <p class="error-text"
       th:if="${errorMessage}"
       th:text="${errorMessage}"></p>

    <form action="/add" method="post">
        <label>プロジェクト</label>
        <select name="projectId"
                id="add_project"
                onchange="handleProjectChange(this, 'add_newProjectName_hidden')">
            <option value=""></option>
            <option value="new">+ 新規で登録</option>
            <option th:each="project : ${projectList}"
                    th:value="${project.id}"
                    th:text="${project.name}"
                    th:selected="${project.id == taskItem?.projectId}">
            </option>
        </select>
        <input type="hidden" name="newProjectName" id="add_newProjectName_hidden">
        <label>タスク</label>
        <textarea name="task" rows="2" required th:text="${taskItem?.task}"></textarea>
        <label>担当者</label>
        <select name="taskUserIds" id="add_task_user" multiple>
            <option value=""></option>
            <option th:each="user : ${userList}"
                    th:value="${user.USER_ID}"
                    th:text="${user.NAME}">
            </option>
        </select>
        <label>期限</label>
        <input name="deadline" type="date"
               th:value="${taskItem?.deadline}" required/>
        <label>説明</label>
        <textarea name="description" rows="4" th:text="${taskItem?.description}"></textarea>
        <input type="submit" value="登録" class="btn-register"/>
    </form>
</div>

<div class="list_header">
    <h2>タスク一覧</h2>
    <div class="filter_area">
        <form action="/list" method="get">
            <input type="hidden" name="projectId" th:value="${selectedProject}">
            <input type="hidden" name="deptId" th:value="${selectedDept}">
            <input type="hidden" name="sectionId" th:value="${selectedSection}">

            <select name="status" id="status-filter" onchange="this.form.submit()">
                <option value="working_group" th:selected="${selectedStatus == 'working_group'}">未完了のタスク</option>
                <option value="3" th:selected="${selectedStatus == '3'}">完了済みのタスク</option>
                <option value="all" th:selected="${selectedStatus == 'all'}">すべてのタスク</option>
            </select>
        </form>
    </div>
</div>

<div class="filter_container">

    <div class="filter_item">
        <form action="/list" method="get">
            <input type="hidden" name="status" th:value="${selectedStatus}">
            <input type="hidden" name="projectId" th:value="${selectedProject}">
            <input type="hidden" name="keyword" th:value="${keyword}">
            <input type="hidden" name="sectionId" value="all">

            <select name="deptId" onchange="this.form.submit()">
                <option value="all" th:selected="${selectedDept == 'all'}">すべての部署</option>
                <option th:each="dept : ${deptList}"
                        th:value="${dept.DEPT_ID}"
                        th:text="${dept.DEPT_NAME}"
                        th:selected="${selectedDept == dept.DEPT_ID.toString()}">
                </option>
            </select>
        </form>
    </div>

    <div class="filter_item">
        <form action="/list" method="get">
            <input type="hidden" name="status" th:value="${selectedStatus}">
            <input type="hidden" name="deptId" th:value="${selectedDept}">
            <input type="hidden" name="projectId" th:value="${selectedProject}">
            <input type="hidden" name="keyword" th:value="${keyword}">

            <select name="sectionId" onchange="this.form.submit()">
                <option value="all" th:selected="${selectedSection == 'all'}">すべての課</option>
                <option th:each="sec : ${sectionList}"
                        th:value="${sec.SECTION_ID}"
                        th:text="${sec.SECTION_NAME}"
                        th:data-dept="${sec.DEPT_ID}"
                        th:selected="${selectedSection == sec.SECTION_ID.toString()}">
                </option>
            </select>
        </form>
    </div>

    <div class="filter_item">
        <form action="/list" method="get">
            <input type="hidden" name="status" th:value="${selectedStatus}"> <input type="hidden" name="deptId" th:value="${selectedDept}">
            <input type="hidden" name="sectionId" th:value="${selectedSection}">
            <select name="projectId" onchange ="this.form.submit()">
                <option value="all">すべてのプロジェクト</option>
                <option th:each="project : ${projectList}"
                        th:value="${project.id}"
                        th:text="${project.name}"
                        th:selected="${selectedProject == project.id.toString()}">
                </option>
            </select>
            <input type="hidden" name="keyword" th:value="${keyword}">
        </form>
    </div>
</div>

<div class="search_area">
    <form action="/list" method="get">
        <input type="hidden" name="status" th:value="${selectedStatus}">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="検索ワード タスクを検索できます。"><button type="submit" class="search-button">検索</button>
    </form>

    <div th:if="${#lists.isEmpty(taskList) and (keyword != null and keyword != '')}" class="no-result-message">
        <p> 「<span th:text="${keyword}"></span>」での検索結果  — 0件です —</p>
    </div>
</div>

<div class="tasklist" th:if="${!#lists.isEmpty(taskList)}">
    <table>
        <thead>
        <tr>
            <th class="hidden">ID</th>
            <th>プロジェクト</th> <th>タスク</th>
            <th>担当者</th>
            <th>期限</th>
            <th>説明</th>
            <th>状態</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${taskList}"
            th:classappend="${task.done == 3} ? 'task-completed':(
                ${task.deadline != null} ? (
                    ${task.deadline < today} ? 'task-overdue-urgent' :
                    (${task.deadline <= twoDaysLater} ? 'task-warning' : '')
                ) : ''
            )">
            <td class="hidden" th:text="${task.id}"></td>
            <td th:text="${task.projectName}" th:data-project-id="${task.projectId}">プロジェクト名</td>
            <td th:text="${task.task}"></td>
            <td th:data-user-ids="${task.taskUserIds}">
                <span th:each="uid,stat : ${task.taskUserIds}">
                    <span th:each="user : ${userList}"
                          th:if="${user.USER_ID == uid}"
                          th:text="${user.NAME} + ${!stat.last ? ', ' : ''}">
                    </span>
                </span>
            </td>
            <td th:text="${task.deadline}"></td>
            <td th:text="${task.description}"></td>
            <td th:switch="${task.done}"
                class="status-common"
                th:classappend="${task.done == 0} ? 'status-todo' : (${task.done == 1} ? 'status-working' : (${task.done == 3} ? 'status-done' : ''))">
                <span th:case="0">未着手</span>
                <span th:case="1">対応中</span>
                <span th:case="3">完了</span>
            </td>
            <td>
                <button type="button"
                        onclick="showUpdateDialog(this)">更新</button>
            </td>
            <td>
                <form action="/delete">
                    <input type="hidden" name="id" th:value="${task.id}">
                    <button type="submit" onclick="return confirm('本当に削除しますか？')">削除</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#lists.isEmpty(taskList)}" style="text-align: center; margin-top: 20px; color: #666;">
    <p>現在タスクはありません。</p>
</div>


<div id="updateDialog" style="display: none;">
    <div class="task_form">
        <h2>タスクの更新</h2>
        <form action="/update">
            <input id="update_id" name="id" type="hidden"/>
            <label>プロジェクト</label>
            <select id="update_project" name="projectId" onchange="handleProjectChange(this, 'update_newProjectName_hidden')">
                <option value=""></option>
                <option value="new">+ 新規で登録</option>
                <option th:each="project : ${projectList}" th:value="${project.id}" th:text="${project.name}"></option>
            </select>
            <input type="hidden" name="newProjectName" id="update_newProjectName_hidden">
            <label>タスク</label>
            <input id="update_task" name="task" type="text"/>
            <label>担当者</label>
            <select id="update_user" name="taskUserIds" multiple>
                <option value=""></option>
                <option th:each="user : ${userList}"
                        th:value="${user.USER_ID}"
                        th:text="${user.NAME}"
                        th:selected="${selectedUserIds != null && selectedUserIds.contains(user.USER_ID)}">
                </option>
            </select>
            <label>期限</label>
            <input id="update_deadline" name="deadline" type="date"/>

            <label>説明</label>
            <input id="update_description" name="description" type="text"/>
            <label>状態</label>
            <select id="update_status" name="done">
                <option value="0">未着手</option>
                <option value="1">対応中</option>
                <option value="3">完了</option>
            </select>
            <div>
                <button type="submit">更新</button>
                <button type="button" onclick="closeUpdateDialog()">キャンセル</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>