<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タスク管理アプリケーション</title>
    <link th:href="@{/home.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script th:src="@{/home.js}" defer></script>
</head>
<body>
<div class="header">
    <h1>タスク管理アプリケーション</h1>

<input type="hidden" id="isUpdateError" th:value="${isUpdateError}">

    <div class="logout-area">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn-base btn-white btn-logout">
               ログアウト
                <span class="material-symbols-outlined">exit_to_app</span>
            </button>
        </form>
        <div class="login-name">
            ログイン中：<span th:text="${loginUserName}"></span> さん
        </div>
    </div>
</div>

<div class="wrapper">
<div class="task_form">
    <h2>タスクの登録</h2>
    <p class="error-text"
       th:if="${errorMessage}"
       th:text="${errorMessage}"></p>

    <form action="/add" method="post">
        <label>プロジェクト</label>
        <select name="projectId" id="add_project"
                onchange="handleProjectChange(this, 'add_newProjectName_hidden')">
            <option value=""></option>
            <option value="0">+ 新規で登録</option>
            <option th:each="project : ${projectList}"
                    th:value="${project.id}"
                    th:text="${project.name}"
                    th:selected="${project.id == updateItem?.projectId}"></option>
        </select>

        <input type="hidden" name="newProjectName" id="add_newProjectName_hidden">
        <div id="project_name_warn" style="color: red; font-size: 0.8em; display: none;">
            プロジェクト名は50文字以内で入力してください。
        </div>
        <label>タスク</label>
        <input name="task" type="text"
               th:value="${taskItem?.task}" required
               oninput="checkTaskLength(this, 'add_task_warn')"/>

        <div id="add_task_warn">
            タスク名は255文字以内で入力してください。
        </div>
        <label>担当者</label>

        <select name="taskUserIds" id="add_task_user" multiple>
            <option th:each="user : ${userList}"
                    th:value="${user.USER_ID}"
                    th:text="${user.NAME}">
            </option>
        </select>
        <label>期限</label>
        <input name="deadline" type="date"
               th:value="${taskItem?.deadline}"
               th:min="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"
               required/>
        <label>説明</label>
        <textarea name="description" id="add_description" rows="4" maxlength="200"></textarea>
        <div id="add_count" >0 / 200</div>

        <label>状態</label>
        <select name="done">
            <option value="0" selected>未着手</option>
            <option value="1">対応中</option>
            <option value="3">完了</option>
        </select>
        <input type="submit" value="登録" class="btn-base btn-primary btn-register"/>
    </form>
</div>

<form action="/list#task-list-top" method="get" id="mainFilterForm">

    <div class="list_header" id="task-list-top">
        <div class="title-with-btn">
            <h2>タスク一覧</h2>
            <a th:href="@{/gantt}" class="btn-base btn-primary gantt-link-btn">ガントチャート</a>
        </div>
        <div class="filter_area">

            <div class="scope-toggle">
                <a th:href="@{/list#task-list-top(scope='mine', status=${selectedStatus}, projectId=${selectedProject}, deptId=${selectedDept}, sectionId=${selectedSection}, keyword=${keyword})}"
                   class="scope-btn" th:classappend="${selectedScope == 'mine'} ? 'active' : ''">自分のタスク</a>
                <a th:href="@{/list#task-list-top(scope='all', status=${selectedStatus}, projectId=${selectedProject}, deptId=${selectedDept}, sectionId=${selectedSection}, keyword=${keyword})}"
                   class="scope-btn" th:classappend="${selectedScope == 'all'} ? 'active' : ''">全てのタスク</a>
            </div>
            <input type="hidden" name="scope" th:value="${selectedScope}">

            <select name="status" id="status-filter" onchange="this.form.submit()">
                <option value="working_group" th:selected="${selectedStatus == 'working_group'}">未完了のタスク</option>
                <option value="3" th:selected="${selectedStatus == '3'}">完了済みのタスク</option>
                <option value="all" th:selected="${selectedStatus == 'all'}">すべてのタスク</option>
            </select>
        </div>
    </div>

    <div class="filter_container">
        <div class="filter_item">
            <select name="deptId" onchange="this.form.submit()">
                <option value="all" th:selected="${selectedDept == 'all'}">すべての部署</option>
                <option th:each="dept : ${deptList}"
                        th:value="${dept.DEPT_ID}"
                        th:text="${dept.DEPT_NAME}"
                        th:selected="${selectedDept == dept.DEPT_ID.toString()}">
                </option>
            </select>
        </div>

        <div class="filter_item">
            <select name="sectionId" onchange="this.form.submit()">
                <option value="all" th:selected="${selectedSection == 'all'}">すべての課</option>
                <option th:each="sec : ${sectionList}"
                        th:value="${sec.SECTION_ID}"
                        th:text="${sec.SECTION_NAME}"
                        th:data-dept="${sec.DEPT_ID}"
                        th:selected="${selectedSection == sec.SECTION_ID.toString()}">
                </option>
            </select>
        </div>

        <div class="filter_item">
            <select name="projectId" onchange="this.form.submit()">
                <option value="all" th:selected="${selectedProject == 'all'}">すべてのプロジェクト</option>
                <option th:each="project : ${projectList}"
                        th:value="${project.id}"
                        th:text="${project.name}"
                        th:selected="${selectedProject == project.id.toString()}">
                </option>
            </select>
        </div>
    </div>

    <div class="search_area">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="検索ワード タスクを検索できます。">
        <button type="submit" class="btn-base btn-primary search-button">検索</button>

        <a th:href="@{/list#task-list-top(scope='mine',
                    status='working_group',
                    projectId='all', deptId='all',
                    sectionId='all', keyword='')}"
                    class="btn-base btn-primary reset-button">
            条件をリセット
        </a>
    </div>

</form>

<dialog class="tasklist" th:if="${!#lists.isEmpty(taskList)}">
    <table>
        <thead>
        <tr>
            <th class="hidden">ID</th>
            <th>プロジェクト</th>
            <th>タスク</th>
            <th>担当者</th>
            <th>期限</th>
            <th>説明</th>
            <th>状態</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${taskList}"
            th:classappend="${task.done == 3} ? 'task-completed':(
                ${task.deadline != null} ? (
                    ${task.deadline < today} ? 'task-overdue-urgent' :
                    (${task.deadline <= twoDaysLater} ? 'task-warning' : '')
                ) : ''
            )">
            <td class="hidden" th:text="${task.id}"></td>
            <td th:text="${task.projectName}" th:data-project-id="${task.projectId}">プロジェクト名</td>
            <td th:text="${task.task}"></td>
            <td class="user-cell" th:data-user-ids="${task.taskUserIds}">
                <th:block th:each="uid : ${task.taskUserIds}">
                    <div th:each="user : ${userList}"
                         th:if="${user.USER_ID == uid}"
                         th:text="${user.NAME}">
                    </div>
                </th:block>
                <div th:if="${#lists.isEmpty(task.taskUserIds)}">-</div>
            </td>
            <td th:text="${task.deadline}"></td>
            <td>
                <div class="desc-text" th:text="${task.description}"></div>
            </td>
            <td th:switch="${task.done}"
                class="status-common"
                th:classappend="${task.done == 0} ?
                'status-todo' : (${task.done == 1} ?
                'status-working' : (${task.done == 3} ?
                'status-done' : ''))">
                <span th:case="0">未着手</span>
                <span th:case="1">対応中</span>
                <span th:case="3">完了</span>
            </td>
            <td>
                <button type="button"
                        onclick="showUpdateDialog(this)">更新</button>
            </td>
            <td>
                <form th:action="@{/delete}" method="get">
                    <input type="hidden" name="id" th:value="${task.id}">
                    <input type="hidden" name="scope" th:value="${selectedScope}">
                    <input type="hidden" name="status" th:value="${selectedStatus}">
                    <input type="hidden" name="projectId" th:value="${selectedProject}">
                    <input type="hidden" name="deptId" th:value="${selectedDept}">
                    <input type="hidden" name="sectionId" th:value="${selectedSection}">
                    <input type="hidden" name="keyword" th:value="${keyword}">
                    <button type="button" onclick="handleDelete(this)">削除</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</dialog>
</div>


    <div th:if="${keyword != null and !keyword.isEmpty() and #lists.size(taskList) == 0}"
         class="no-result-message">
        <p> 「<span th:text="${keyword}"></span>」での検索結果 — 0件です —</p>
    </div>
    <div th:if="${keyword.isEmpty() and #lists.size(taskList) == 0}"
         class="status-0message">
        <p>現在タスクはありません。</p>
    </div>


 <div id="updateDialog">
    <div class="task_form">
        <h2>タスクの更新</h2>
        <p class="error-text"
           th:if="${updateErrorMessage}"
           th:text="${updateErrorMessage}"></p>
        <form action="/update" method="post">
            <input id="update_id" name="id" type="hidden"/>

            <input type="hidden" name="scope" th:value="${selectedScope}">
            <input type="hidden" name="status" th:value="${selectedStatus}">
            <input type="hidden" name="filterProjectId" th:value="${selectedProject}">
            <input type="hidden" name="deptId" th:value="${selectedDept}">
            <input type="hidden" name="sectionId" th:value="${selectedSection}">
            <input type="hidden" name="keyword" th:value="${keyword}">
            <label>プロジェクト</label>
            <select id="update_project" name="projectId">
                <option value=""></option>
                <option th:each="project : ${projectList}"
                        th:value="${project.id}"
                        th:text="${project.name}">
                </option>
            </select>
            <input type="hidden" name="newProjectName" id="update_newProjectName_hidden">
            <label>タスク</label><input id="update_task" name="task" type="text"
                   th:value="${updateItem?.task}" required
                   oninput="checkTaskLength(this,'update_task_warn')"/>

            <div id="update_task_warn" class="error-message-space">
                タスク名は255文字以内で入力してください。
            </div>
            <label>担当者</label>
            <select id="update_user" name="taskUserIds" multiple>
                <option th:each="user : ${userList}"
                        th:value="${user.USER_ID}"
                        th:text="${user.NAME}"
                        th:selected="${selectedUserIds != null && selectedUserIds.contains(user.USER_ID)}">
                </option>
            </select>
            <label>期限</label>
            <input id="update_deadline" name="deadline" type="date"
                   th:value="${updateItem?.deadline}"
                   th:min="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"
                   required/>

            <label>説明</label>
            <textarea name="description" id="update_description" rows="4" maxlength="200"
                      th:text="${updateItem?.description}"></textarea>
            <div id="update_count">0 / 200</div>

            <label>状態</label>
            <select id="update_status" name="done">
                <option value="0" th:selected="${updateItem?.done == 0}">未着手</option>
                <option value="1" th:selected="${updateItem?.done == 1}">対応中</option>
                <option value="3" th:selected="${updateItem?.done == 3}">完了</option>
            </select>
            <div class="dialog-buttons">
                <button type="submit">更新</button>
                <button type="button" onclick="closeUpdateDialog()">キャンセル</button>
            </div>
        </form>
    </div>
</div>
</div>

<div id="projectModal" class="modal-overlay">
    <div class="task_form modal-content">
        <h2>プロジェクト新規登録</h2>
        <div class="modal-body">
            <label>プロジェクト名</label>
            <input type="text" id="custom_newProjectName" required
                   placeholder="プロジェクト名を入力してください"
                   oninput="updateProjectCountLabel()">
            <div id="project_count">0 / 50</div>
            <div id="project_error" class="error-text" style="display: none;">
                プロジェクト名は50文字以内で入力してください。
            </div>
        </div>
        <div class="dialog-buttons">
            <button type="button" class="btn-base btn-primary" onclick="submitProjectModal()">登録</button>
            <button type="button" class="btn-base btn-cancel" onclick="closeProjectModal()">キャンセル</button>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal-overlay">
    <div class="task_form modal-content">
        <h2>削除の確認</h2>
        <div class="modal-body">
            <p>このタスクを削除してもよろしいですか？</p>
        </div>
        <div class="dialog-buttons">
            <button type="button" class="btn-base btn-primary" onclick="deleteModal()">削除</button>
            <button type="button" class="btn-base btn-cancel" onclick="closeDeleteModal()">キャンセル</button>
        </div>
    </div>
</div>

</body>
</html>